beautifulsoup4
bleach
blinker
boto3
botocore
bs4
cachetools
certifi
charset-normalizer
click
Flask
Flask-Mail
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
numpy
oauthlib
opencv-python
pandas
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
PyMySQL
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rsa
s3transfer
six
soupsieve
suntime
types-click
types-Flask
types-Jinja2
types-MarkupSafe
types-Werkzeug
typing_extensions
tzdata
uritemplate
urllib3
waitress
webencodings
Werkzeug
