<h2>Este site utiliza autenticação feita por uma conta Google</h2>
<p>Nota: Apenas utilizo o Google para autenticação. Não partilho
    qualquer informação do utilizador.</p>

<p>Apenas guardo o Nome e Email para criar a sua conta.</p>

<!-- <a href="{{ url_for('signin_redirect') }}" class="google-btn" aria-label="Login com Google"> -->
<a href="/signin_redirect" class="google-btn" aria-label="Login com Google">
    <img class="google-logo" src="STATIC_GOOGLE_LOGO" alt="Google logo" />
    <h3><em>Iniciar sessão com Google</em></h3>
</a>

<br>
<br>

<h2>Não tem uma conta do Google?</h2>
Se não tem uma conta do Google, pode criar uma gratuitamente.
<br>
    <a href="https://support.google.com/mail/answer/56256?hl=pt-BR2" target="_blank" rel="noopener noreferrer">
        Clique aqui se precisa de ajuda para criar um conta do Google.</a>
<br><br>
<a href="https://support.google.com/accounts/answer/32050?hl=pt-BR" target="_blank" rel="noopener noreferrer">
    Saiba mais sobre como o Google protege a sua privacidade</a>
<br>
<a href="https://policies.google.com/privacy?hl=pt-BR" target="_blank" rel="noopener noreferrer">
    Política de Privacidade do Google</a>
<br>
<a href="https://policies.google.com/terms?hl=pt-BR" target="_blank" rel="noopener noreferrer">
    Termos de Serviço do Google</a>
<br>
