<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="title-box">
            <h1>{{ title }}</h1>
        </div>
        <div class="columns">
            <nav class="menu">
                <ul>
                    {% if user %}
                    {% include 'content/menu-profile.html' %}
                    {% else %}
                    {% include 'content/menu.html' %}
                    {% endif %}
                </ul>
            </nav>
            <h1>Registo na base de dados</h1>

            <form id="signupForm" action="/updateDB" method="post" onsubmit="openGoogleCalendar()">

            <!-- <form method="post"> -->
                Morada: <input name="address"><br>
                Código Postal: <input name="zip_code"><br>
                Telemóvel: <input name="cell_phone"><br>
                <input type="submit" value="Submit">
            </form>

            <p> Nenhum dado será partilhado com o Google. O telemóvel serve apenas para poder contactar. A morada é
                necessária pois é um serviço que faço a ir a casa. </p>

            <script>
                function openGoogleCalendar() {
                    window.open('http://localhost:8080/calendar', '_blank');
                    return true; // Allow form submission to proceed
                }
            </script>

            </main>
        </div>
    </div>
</body>

</html>