:root {
    --round: 16px;
    --blue-title: #2563eb;
    --egg-shell: #f8f6ea;
    --yellow-header: #ffd600;
    --menu-width: 20%;
    --main-width: 80%;
    color-scheme: light dark; /* dica aos UA */
  }
  
  * { box-sizing: border-box; margin: 0; padding: 0; }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.3s, color 0.3s;
    background-color: var(--egg-shell);
    color: #000;
  }
  
  .container { max-width: 100vw; margin: 0; padding: 0; }
  